.avatar{
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  margin: 0 auto;  
}

.card{
  height: 100%;
}

.card-title{
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
}

